version: '3.8'
services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    volumes:
      - ./server/uploads:/app/uploads
    depends_on:
      - ml_api

  client:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - VITE_API_BASE=http://localhost:5000/api
    depends_on:
      - server

  ml_api:
    build: ./ml_api
    ports:
      - "5001:5000"
